mixin articleSort(posts)
  .article-sort
    - var year
    - posts.each(function (article) {
      - let tempYear = date(article.date, 'YYYY')
      - let no_cover = article.cover === false || !theme.cover.archives_enable ? 'no-article-cover' : ''
      - let title = article.title || _p('no_title')
      if tempYear !== year
        - year = tempYear
        .article-sort-item.year= year
      .article-sort-item(class=no_cover)
        if article.cover && theme.cover.archives_enable
          a.article-sort-item-img(href=url_for(article.path) title=title)
            if article.cover_type === 'img'
              img(src=url_for(article.cover) alt=title onerror=`this.onerror=null;this.src='${url_for(theme.error_img.post_page)}'`)
            else
              div(style=`background: ${article.cover}`)
        .article-sort-item-info
          - let author = article.copyright_author || config.author
          - let authorHref = article.copyright_author_href || theme.post_copyright.author_href || config.url
          if (theme.post_meta.list.author && author.length > 0 && authorHref.length > 0)
            .article-sort-item-time
              i.fa-regular.fa-copyright
              span.article-meta-label=' '
              a(href=url_for(authorHref)).article-meta__categories #[=author]
          .article-sort-item-time
            i.far.fa-calendar-alt
            time.post-meta-date-created(datetime=date_xml(article.date) title=_p('post.created') + ' ' + full_date(article.date))= date(article.date, config.date_format)
          a.article-sort-item-title(href=url_for(article.path) title=title)= title
    - })